version: "3.7"

services:
  mediaproxyoma:
    image: yonle/mediaproxyoma:latest
    build: .
    container_name: mediaproxyoma
    depends_on:
      - bwhero
    environment:
      BWHERO_HOST: "http://bwhero:5000"
      # USER_AGENT: mediaproxyoma [https://github.com/Yonle/mediaproxyoma] - v0.3
      # OLD_MEDIA_HOST: eu2.somestorage.com
      # OLD_MEDIA_PATHPREFIX: /xxx:fedi/
      # NEW_MEDIA_HOST: 127.0.0.1:6081
      # NEW_MEDIA_SCHEME: http
      # NEW_MEDIA_PATHPREFIX: /media/
      LISTEN: "0.0.0.0:8080"
    ports:
      - "8080:8080"
    networks:
      - bw_net
  bwhero:
    image: yonle/bwhero:latest
    container_name: bwhero
    environment:
      LISTEN: "0.0.0.0:5000"
      #USER_AGENT: mediaproxyoma [https://github.com/Yonle/mediaproxyoma] - v0.3
      #IMAGESIZELIMIT: 50000000
      #ANIMATIONSIZELIMIT: 50000000
      #VIDEOSIZELIMIT: 100000000
    networks:
      - bw_net

networks:
  bw_net:
    driver: bridge
